:root{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: rgb(246, 221, 161);
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #6D10E9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*Estilos del header */

header{
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 5rem;
    flex-wrap: wrap;
    height: 10vh;
    width: 100%;
    position: relative;
}

header > ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

header > ul > li > a{
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    position: relative;
    text-shadow: 0px 0px 20px rgba(255,255,255,0.81);
}

header > ul > li > a::before{
    content: "";
    background-color: white;
    position: absolute;
    width: 0px;
    height: 3px;
    bottom: -0.5rem;
    transition: 0.4s all ease-in;
}

header > ul > li > a:hover::before{
    width: 100%;
    transition: 0.4s all ease-in;
}

header > button{
    position: absolute;
    right: 1.5rem;
    display: none;
    padding: 1rem;
    background-color: transparent;
    border: none;
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
}

header > button > i{
    pointer-events: none;
}

/* Estilos del main*/

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.5rem;
    padding-bottom: 2rem;
}

.presentacion {
    position: relative;
    min-height: 80vh;
    margin-bottom: 5rem;
}

.presentacion > h1{
    font-size: 3rem;
    text-decoration: underline;
    text-align: center;
}

.presentacion > h2{
    font-size: 2rem;
}

.presentacion > p{
    font-size: 1.5rem;
    text-align: justify;
    width: 40rem;
}

.conocenos{
    text-align: center !important;
}

p,h1,h2,h3{
    text-shadow: 0px 0px 20px rgba(255,255,255,0.81);
}




.presentacion > i{
    font-size: 4rem;
    position: absolute;
    bottom: -2rem;
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    
}


.position{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    gap: 0.7rem;
}


.position > i{
    font-size: 2.5rem;
}


section{
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3rem;
}

section > div{
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap-reverse;
}

section > div > div{
    min-width: 350px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phrase-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.phrase-container > p{
    word-spacing: 0.2rem;
}


.whatsapp-link{
    font-size: 1.1rem;
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: none;
    background-color: white;
    color: green;
    cursor: pointer;
    transition: 0.4s ease-in all;
    width: 10rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.whatsapp-link > i {
    font-size: 1.3rem;
}


.whatsapp-link:hover{
    color: white;
    background-color: green;
    transition: 0.4s ease-in all;
}


.img-container > img{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: #78D1CC;
    box-shadow: 0px 0px 20px rgba(255,255,255,0.81);
}


@keyframes bounce {
    0% {
      bottom: -2rem;
    }
  
    50% {
      bottom: -4rem;
    }

    100%{
        bottom: -2rem;
    }
  }

  hr{
    width: 80%;
    margin-top: 3rem;
    border: 0; 
    height: 0;
    box-shadow: 0 1px 5px 1px white
  }


  .arrow-up{
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    font-size: 3rem;
    background-color: transparent;
    border: none;

  }

  .arrow-up > i{
    pointer-events: none;
    color:  #78D1CC;
  }



  /* estilos del form */

  form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
  }

  form > div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  form > div > label{
    font-family: 'Roboto', sans-serif;
    color: rgb(246, 221, 161);
    text-shadow: 0px 0px 20px rgba(255,255,255,0.81);
  }

  form > div > input{
    width: 25rem;
    height: 1.4rem;
    border-radius: 0.2rem;
    border: none;
  }

  form > div > textarea{
    border-radius: 0.2rem;
    border: none;
    width: 25rem;
    height: 15rem;
  }

  .submit-div > button{
    width: 25rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: none;
    cursor: pointer;
  }

  .success-msj {
    color: white;
    background-color: green;
    padding: 0.5rem;
    text-align: center;
  }

  .error-msj {
    color: red;
    background-color: white;
  }

  /* Media queries*/

  @media (max-width: 768px) {

  /* Header*/

    header{
        display: flex;
        align-items: center;
        justify-content: end;
        padding-right: 5rem;
        flex-wrap: wrap;
        height: 10vh;
        width: 100%;
        position: relative;
    }
    
    header > ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: none;
    }

    header > ul > li{
        height: 3rem;
    }

    
    header > button{
        display: flex;
        z-index: 1000;
    }

    
    .menu-active {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: black; 
        opacity: 0.9;
        z-index: 500;
    }

    
    /* Main*/

    main{
        gap: 0;
    }

    .presentacion{
        gap: 1.5rem;
    }
    
    .presentacion > p{
        font-size: 1.2rem;
        text-align: justify;
        width: 80%;
    }

    .presentacion > h1{
        font-size: 2rem;
    }

    .presentacion > h2{
        font-size: 1.5rem;
    }


    @keyframes bounce {
        0% {
          bottom: 0;
        }
      
        50% {
          bottom: -2rem;
        }
    
        100%{
            bottom: 0;
        }
      }

      section{
        gap: 2rem;
      }

      section > div {
        width: 80%;
      }

      .position{
        width: 80%;
        font-size: 1.1rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        }

    .img-container > img{
        width: 350px;
        height: 350px;
    }

    .position > h2{
        text-align: center;
        width: 70%;
    }

    .arrow-up{
        right: 2rem;
    }
    

    /*form */

    form {
        margin-top: 1rem;
    }

      form > div > input{
        width: 15rem;
      }
    
      form > div > textarea{
        width: 15rem;
        height: 10rem;
      }

      .submit-div > button{
        width: 15rem;
      }


  }
